body{
    background-image: url(image/background.png);
}
 /* Header */
#header {
    width: 100%; 
    height: 100px; 
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    top: 0px; 
    z-index: 1; 
    background-color:#ee1515;
    border:solid 4px black;
    border-radius: 25px;
}

#headerimg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    transform: translate(-50%, -50%);
}

 /* Main page positioning */
 .row{    
    position:relative;
    float:left;
    margin:10px;
 }

 /* User Input section styling */
#userBody{
    background-color:white;
    border:solid 4px black;
    border-radius: 25px;
    padding: 30px;
}

#nameContainer {   /* Outter div of where the Name of the Pokemon inputted by user will go*/
    position: relative;
    text-align: center;
    color: black;
    font-size:20px;
    font-weight:bold;
  }

#userBodyImg{ /* Pokeball image */
 border:solid 4px black;
 border-radius: 25px;
 height: 60px;

}

.name { /* where the Name of the Pokemon inputted by user will go*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


/* Image of user inputted pokemon will go, referenced via pokemon API*/
#pokemonProfilePic{
    border-radius: 25px;
    text-align:center;
   }


.habitat_div{
    background-color:white;
    border:solid 4px black;
    border-radius: 25px;
    padding: 2px;
    text-align: center;
    font-size:30px;
    font-weight:bold;
    height: 60px;
    border-left: solid 5px #FF8080;
    border-right:solid 5px #FF8080;
}

#mapDiv{
    text-align:center;
}


#map{
    background-color:white;
    border:solid 4px black;
    border-radius: 25px;
    padding: 10px;
    height: 500px;
}

#mapBodyImg{ /* map image */
 border:solid 4px black;
 border-radius: 25px;

}

#pointer{
    display: none;
    position: absolute;
    text-align: center;
    bottom: 50%;
    left:45%;
  }

