html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-image: url(image/background.png);
}
/* Splash Page & Introduction*/
#splash{
    height:100vh;
    background-color:#FE3D00;
}
    #logo{
        display: block;
        max-width:60vw;
        max-height:60vh;
        padding-top:15%;
    }
    #subtextContainer{
        margin-top:2%;
        text-align:center;
    }
    #subtext{
        font-family:'Courier New', Courier, monospace;
        font-size:15px;
    }
    #arrowContainer{
        margin-top:1%;
    }
    #arrow{ /* pokeball arrow that will bounce*/
        display: block;
        padding-top:10px;
        max-width:60px;
        max-height:60px;

    }
    .bounce { /* animation*/
        -webkit-animation: bounce 3s;
                animation: bounce 3s;
        -webkit-animation-iteration-count: 3;
                animation-iteration-count: 3;
      }
      
      @-webkit-keyframes bounce {
        0%,
        25%,
        50%,
        75%,
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        40% {
          -webkit-transform: translateY(-20px);
                  transform: translateY(-20px);
        }
        60% {
          -webkit-transform: translateY(-12px);
                  transform: translateY(-12px);
        }
      }
      
      @keyframes bounce {
        0%,
        25%,
        50%,
        75%,
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        40% {
          -webkit-transform: translateY(-20px);
                  transform: translateY(-20px);
        }
        60% {
          -webkit-transform: translateY(-12px);
                  transform: translateY(-12px);
        }
      }
/* Main Page*/
#mainContainer{
    height:100vh;
}
.contentContainers{
    border-radius: 25px;
    border:solid 4px black;
    text-align:center;
    margin-top:12%;
    margin-left:1%;
    margin-right:1%;
    padding: 10px;
    height: 500px;
}

#pokemonProfile{
    background:#FF8080;
}
        /* User Input section styling */
        #userSearch{
            border-radius: 20px; 
            font-size:20px;
            padding-left:5%;
            padding-right:5%;
            padding-top:3%;
            height:12vh;
        }
        #nameContainer {   /* Outter div of where the Name of the Pokemon inputted by user will go*/
            position: relative;
            text-align: center;
            color: black;
            font-size:20px;
            font-weight:bold;
        }
        .name { /* where the Name of the Pokemon inputted by user will go*/
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-55%, -50%);
            font-size:30px;
        }
        #pokemonImgContainer{
            margin-top:7%;
        }
        /* Image of user inputted pokemon will go, referenced via pokemon API*/
        #pokemonProfilePic{
            display: block;
            max-width:300px;
            max-height:500px;
            width: auto;
            height: auto;
            border-radius: 25px;
            text-align:center;
        }
        #mapContainer{
            background-color: transparent;
        }

        #habitatContainer, #habitatContainer, #map{
            background-color:white;
        }
/* Footer*/
#footerContainer{
    display:block;
    background-color: white;
    opacity:0.8;
}
    #logo2{
        max-height: 50px;;
        max-width: 50px;
    }
    #footer{
        text-align:center;
    }
@media only screen and (max-width: 985) {
    *{
        overflow:auto;
    }
    #footerContainer {
        background-color: white;
        opacity: 0.8;
        display: none!important;

}
